In [29]:
import pandas as pd

In [30]:
from numpy import NaN, NAN, nan

In [31]:
import matplotlib
%matplotlib inline

In [32]:
marr816 = pd.read_excel('../Land_Use/08-16_change_over_time_EDIT.xlsx')

In [33]:
marr816.head()

   LU_CODE_08  08_AREA  LU_CODE_16  COMMOD       16_AREA
0           0      0.0         652          1.370713e+06
1           0      0.0         210  cattle  1.158460e+07
2           0      0.0         652          1.427609e+05
3           0      0.0         113          3.356297e+04
4           0      0.0         652          7.526508e+05

In [34]:

marr816 =df.groupby(['LU_CODE_08', '08_AREA', 'LU_CODE_16', 'COMMOD'])['16_AREA'].sum()

KeyError: 'LU_CODE_08'

In [48]:
marr816

LU_CODE_08  08_AREA        LU_CODE_16  COMMOD
0           0.000000       113                                           2.115370e+07
                           125                                           1.500568e+07
                           133                                           1.236465e+07
                           210         cattle                            1.156794e+08
                           320                                           9.916301e+04
                                       cattle                            1.296304e+06
                                       goats                             7.666058e+04
                                       horses                            6.989188e+04
                                       pigs, goats, poultry & buffalo    7.090092e+04
                           364                                           5.487598e+05
                           441                                           6.164839e+02
                                       bananas                           5.483707e+03
                                       mangoes                           7.298663e+05
                           444         dragon fruit                      1.125698e+04
                           447                                           8.322067e+03
                           453                                           5.055953e+05
                                       beans                             1.930766e+05
                                       cucumbers                         1.056531e+04
                                       melons                            4.424880e+05
                                       okra                              6.008063e+05
                                       taro                              1.319735e+04
                                       zucchini                          2.933742e+04
                           464                                           8.268190e+05
                           465                                           1.895358e+04
                           512         cucumbers                         8.066767e+04
                           542                                           9.653614e+06
                           543                                           1.527525e+07
                           551                                           3.103581e+05
                           565                                           3.603773e+03
                           572                                           5.662769e+06
                                                                             ...
450         3766.895684    542                                           1.567463e+04
            25788.573044   441         bananas                           5.483707e+03
                           453                                           2.849805e+04
                           464                                           1.247731e+04
                           542                                           3.930938e+04
            64288.309719   320         goats                             2.728137e+04
                           441                                           4.291884e+03
                           448         limes                             7.138846e+03
                           453                                           6.162689e+03
                                       vegetables                        1.173107e+04
                           542                                           7.679120e+03
                           543                                           6.405370e+04
                           572                                           4.843477e+06
            224231.955906  441                                           1.049903e+04
                                       hogg plum                         5.456317e+03
                                       mangoes                           1.201634e+05
                           453         melons                            6.438302e+04
                           542                                           2.758414e+05
                           572                                           4.843477e+06
460         10019.980280   542                                           2.245804e+05
            15632.375056   133                                           1.006347e+07
                           542                                           2.132942e+05
            25541.321542   320         horses                            5.513377e+04
                           543                                           6.538515e+04
                           572                                           4.843477e+06
            254160.997997  210         cattle                            6.107402e+04
                           320         cattle                            4.485719e+05
                           441         mangoes                           2.570258e+05
                           542                                           1.259913e+05
                           543                                           3.559415e+04
Name: 16_AREA, Length: 157, dtype: float64

In [50]:
marr816.describe()

count    1.570000e+02
mean     2.127335e+06
std      9.821178e+06
min      6.164839e+02
25%      1.895358e+04
50%      6.624864e+04
75%      2.772636e+05
max      1.156794e+08
Name: 16_AREA, dtype: float64

# Import files

In [58]:
marraka08total=pd.read_excel('../Land_Use/08-16_change_over_time_EDIT.xlsx')

In [67]:
marraka08total.head()

   LU_CODE_08  08_AREA  LU_CODE_16  COMMOD       16_AREA
0           0      0.0         652          1.370713e+06
1           0      0.0         210  cattle  1.158460e+07
2           0      0.0         652          1.427609e+05
3           0      0.0         113          3.356297e+04
4           0      0.0         652          7.526508e+05

In [70]:
# drop on ecolumn marraka08total.drop('COMMOD', axis=1, inplace=True)

In [68]:
# Removing columns
list_drop = ['LU_CODE_16', 'COMMOD', '16_AREA']
marraka08total.drop(list_drop, axis=1, inplace=True)

In [69]:
marraka08total.head()

   LU_CODE_08  08_AREA
0           0      0.0
1           0      0.0
2           0      0.0
3           0      0.0
4           0      0.0

In [73]:
marraka08total.groupby('LU_CODE_08')['08_AREA'].mean

In [72]:
marraka08total

     LU_CODE_08        08_AREA
0             0       0.000000
1             0       0.000000
2             0       0.000000
3             0       0.000000
4             0       0.000000
5             0       0.000000
6             0       0.000000
7             0       0.000000
8             0       0.000000
9             0       0.000000
10            0       0.000000
11            0       0.000000
12            0       0.000000
13            0       0.000000
14            0       0.000000
15            0       0.000000
16            0       0.000000
17            0       0.000000
18            0       0.000000
19            0       0.000000
20            0       0.000000
21            0       0.000000
22            0       0.000000
23            0       0.000000
24            0       0.000000
25            0       0.000000
26            0       0.000000
27            0       0.000000
28            0       0.000000
29            0       0.000000
..          ...            ...
765         441   64254.944180
766         441   64254.944180
767         441   55184.787119
768         441   55184.787119
769         441   55184.787119
770         441   55184.787119
771         460  254160.997997
772         460  254160.997997
773         460  254160.997997
774         460  254160.997997
775         460  254160.997997
776         460  254160.997997
777         460  254160.997997
778         460  254160.997997
779         460  254160.997997
780         460  254160.997997
781         460  254160.997997
782         460  254160.997997
783         460  254160.997997
784         441   56862.386873
785         441   56862.386873
786         441   56862.386873
787         441   56862.386873
788         441   56862.386873
789         441   56862.386873
790         441   56862.386873
791         441   56862.386873
792         441   73197.809084
793         441   73197.809084
794         441  189175.133625

[795 rows x 2 columns]

In [40]:
df=pd.read_excel('../Land_Use/08-16_change_over_time_EDIT.xlsx')

In [41]:
df.head()

   LU_CODE_08  08_AREA  LU_CODE_16  COMMOD       16_AREA
0           0      0.0         652          1.370713e+06
1           0      0.0         210  cattle  1.158460e+07
2           0      0.0         652          1.427609e+05
3           0      0.0         113          3.356297e+04
4           0      0.0         652          7.526508e+05

In [45]:
df[['LU_CODE_08', '08_AREA', 'LU_CODE_16', '16_AREA']]

     LU_CODE_08        08_AREA  LU_CODE_16       16_AREA
0             0       0.000000         652  1.370713e+06
1             0       0.000000         210  1.158460e+07
2             0       0.000000         652  1.427609e+05
3             0       0.000000         113  3.356297e+04
4             0       0.000000         652  7.526508e+05
5             0       0.000000         113  3.150583e+04
6             0       0.000000         572  4.843477e+06
7             0       0.000000         113  2.325471e+06
8             0       0.000000         113  1.077959e+07
9             0       0.000000         113  3.344450e+06
10            0       0.000000         113  2.952542e+04
11            0       0.000000         654  1.724599e+05
12            0       0.000000         210  3.514437e+05
13            0       0.000000         113  1.385681e+04
14            0       0.000000         210  1.934579e+06
15            0       0.000000         572  2.317780e+05
16            0       0.000000         125  4.901527e+06
17            0       0.000000         652  7.539448e+06
18            0       0.000000         125  8.843807e+06
19            0       0.000000         652  2.972798e+04
20            0       0.000000         652  1.538727e+05
21            0       0.000000         133  1.649968e+05
22            0       0.000000         133  1.006347e+07
23            0       0.000000         654  1.419147e+05
24            0       0.000000         654  1.701428e+05
25            0       0.000000         652  1.191484e+06
26            0       0.000000         113  1.013185e+06
27            0       0.000000         113  3.030543e+05
28            0       0.000000         542  1.028347e+05
29            0       0.000000         453  1.985115e+04
..          ...            ...         ...           ...
765         441   64254.944180         210  6.107402e+04
766         441   64254.944180         441  3.377163e+04
767         441   55184.787119         542  3.000356e+04
768         441   55184.787119         441  1.245593e+04
769         441   55184.787119         441  8.138379e+04
770         441   55184.787119         441  8.972462e+04
771         460  254160.997997         542  5.911092e+04
772         460  254160.997997         542  6.260691e+04
773         460  254160.997997         210  6.107402e+04
774         460  254160.997997         543  3.559415e+04
775         460  254160.997997         441  2.742144e+04
776         460  254160.997997         441  2.599442e+04
777         460  254160.997997         441  2.214762e+04
778         460  254160.997997         441  3.237235e+04
779         460  254160.997997         441  1.889176e+04
780         460  254160.997997         441  1.047791e+05
781         460  254160.997997         441  2.541905e+04
782         460  254160.997997         320  4.485719e+05
783         460  254160.997997         542  4.273470e+03
784         441   56862.386873         542  6.260691e+04
785         441   56862.386873         543  9.325587e+04
786         441   56862.386873         543  3.559415e+04
787         441   56862.386873         441  1.155899e+04
788         441   56862.386873         441  2.214762e+04
789         441   56862.386873         441  3.237235e+04
790         441   56862.386873         441  1.889176e+04
791         441   56862.386873         441  2.541905e+04
792         441   73197.809084         542  1.717748e+06
793         441   73197.809084         441  5.630075e+04
794         441  189175.133625         210  7.402617e+06

[795 rows x 4 columns]

In [26]:
df.to_excel('../Outputs/08_16_grouped2.xlsx')

In [19]:
los

NameError: name 'los' is not defined